*{
    margin: 0px;
    padding: 0px;
}
h1{
    color: crimson;
}
p{
    background-color: coral;
}
footer p {
    font-family: 'Roboto Slab', serif;
    font-size: small;
    text-align: left;
}

.redes{
        width: 10%;
        padding: 10px;
    }
   
footer{
        background-color:#e9edc9;
        margin-top: 10px;
    }
footer p {
        font-family: 'Roboto Slab', serif;
        font-size: small;
        text-align: justify;
       }
.derechos{
        display: flex;
        flex-direction: column;
        justify-content:space-evenly;
        align-items: flex-start;
        padding: 10px;
    }
    .derechos div{
        width: 95%;
        padding: 10px;
    }

